<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/base}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/x-icon" href="/bootstrap/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/bootstrap/css/styles.css" rel="stylesheet" />
</head>
<body class="pt-5">
<div layout:fragment="content">

    <h1><div style="text-align: center">Start Fits</div></h1>
    <h3><div style="text-align: center">기준선에 맞춰 선 후 카메라를 통한 체형 촬영을 진행합니다.</div></h3>

</div>

</body>
</html>